{% load i18n %}

<a href="{% url 'admin:index' %}" class="flex items-center gap-3">
    {% if site_logo.light and site_logo.dark %}
        <img src="{{ site_logo.dark }}" alt="{% trans 'Home' %}" class="h-8 hidden dark:block object-contain"/>
        <img src="{{ site_logo.light }}" alt="{% trans 'Home' %}" class="block h-8 dark:hidden object-contain" />
    {% else %}
        <img src="{{ site_logo }}" class="h-8" alt="{% trans 'Home' %}" />
    {% endif %}
    
    <span class="font-bold tracking-tight text-gray-900 dark:text-white truncate">
        {{ site_header|default:"SKILLED EAGLE" }}
    </span>
</a>
