{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="icon" type="image/png" href="{% static 'core/favicon.png' %}">
<link rel="apple-touch-icon" href="{% static 'core/favicon.png' %}">
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
/* Guaranteed light mode checkbox fix */
html:not(.dark) input[type="checkbox"]:checked,
html:not(.dark) input.action-select:checked,
html:not(.dark) input.action-toggle:checked,
html:not(.dark) body form .results input[type="checkbox"]:checked,
html:not(.dark) body .result-list input[type="checkbox"]:checked {
    background-color: rgb(47, 49, 140) !important;
    border-color: rgb(47, 49, 140) !important;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color: transparent !important;
}

html:not(.dark) input[type="checkbox"],
html:not(.dark) input.action-select,
html:not(.dark) input.action-toggle {
    background-color: #ffffff !important;
    border: 1px solid #9ca3af !important;
    appearance: none !important;
    -webkit-appearance: none !important;
}
</style>
{% endblock %}
